/*header*/

.head-title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #000000;
}

.head-web {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.nav-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
}

.nav-item:hover {
    color: #2196F3
}

.nav-info {
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575
}

.nav-info:hover {
    color: #2196F3;
}

/*header*/


/*main*/

.sec1-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff
}

.sec1-service {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff
}

.sec2-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.sec2-info {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.sec3-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.sec3-img{
    height: 294px;
}

.sec4-title {
    font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.sec4-worker {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.worker-info {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/*main*/


/*footer*/

.foot-title {
    font-family: "Raleway";
    font-weight: 700;
    line-height: 1.19;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.foot-web {
    font-family: "Raleway";
    font-weight: 700;
    line-height: 1.19;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.foot-adress {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.foot-info {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.foot-number     {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/*footer*/