/*header*/

.header {
    height: 80px;
    padding: 24px 0 25px;
}

.head-title {
    display: inline;
    margin-right: 93px;
    font-family: "Raleway";
    font-weight: 700;
    line-height: 1.19;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #000;
}

.head-web {
    font-family: "Raleway";
    font-weight: 700;
    line-height: 1.19;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.head-list {
    margin-right: 294px;
    display: flex;
}

.head-nav {
    display: flex;
}

.head-ul {
    display: flex;
}

.head-ul li:nth-child(1) {
    padding-right: 50px;
}

.nav-item {
    display: flex;
    margin-right: 50px;
    display: inline;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
}

.nav-item:hover {
    color: #2196F3
}

.nav-info {
    display: flex;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575
}

.nav-info:hover {
    color: #2196F3;
}

/*header*/


/*main*/

.main-sec1 {
    padding-bottom: 50px;
}

.sec1-list {
    padding: 0 225px 0 225px;
    display: flex;
    justify-content: center;
}

.sec1-but {
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);  
}

.sec1-but:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}

.sec2-img {
    height: 294px;
}

.sec2-list {
    
}

/*main*/


/*footer*/

h1#foot-nav {
    display: block;
}

p#foot-nav {
    display: block;
}

a#foot-nav {
    display: block;
}


.footer {
    background: #2F303A;
    height: 252px;
    padding: 60px 0 60px;
}

.foot-title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.foot-web {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.foot-adress {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.foot-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.foot-number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/*footer*/